
.circle {
  position: absolute; 
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
}

#leftCircle {
    top: 6px;
    left: 8px;
    background-color: black;
}

#leftCircle.move-right {
  transition-property: left, margin;
  left: 100%;   /*or bottom, top, right*/
  margin-left: -424px; /*or bottom, top, right */
  transition: all 2s ease-in-out;
}

#leftCircle.move-down {
  transition-property: left, margin;
  top: 100%;   /*or bottom, top, right*/
  margin-top: -206px; /*or bottom, top, right */
  transition: all 2s ease-in-out;
}


#rightCircle {
  top: 6px;
  right: 8px;
  background-color: red;
}

#rightCircle.move-down {
  transition-property: top, margin;
  top: 100%;   /*or bottom, top, right*/
  margin-top: -424px; /*or bottom, top, right */
  transition: all 2s ease-in-out;
}

#rightCircle.move-left {
  transition-property: right, margin;
  right: 100%;   /*or bottom, top, right*/
  margin-right: -424px; /*or bottom, top, right */
  transition: all 2s ease-in-out;
}

#downCircle {
  bottom: 6px;
  right: 8px;
  background-color: green;
}

#downCircle.move-left {
  transition-property: right, margin;
  right: 100%;   /*or bottom, top, right*/
  margin-right: -208px; /*or bottom, top, right */
  transition: all 2s ease-in-out;
}

#downCircle.move-up {
  transition-property: bottom, margin;
  bottom: 100%;   /*or bottom, top, right*/
  margin-bottom: -424px; /*or bottom, top, right */
  transition: all 2s ease-in-out;
}